<script setup>
import { inject } from "vue";

  const props = defineProps({
    name: {
      type: String,
      required: true
    },
    as: {
      type: [String, Object],
      required: true,
      default: "input"
    }
  })

  const values = inject("values")

</script>

<template>

  <component 
    :is="as"
    :value=values[name]
    @input="(e) => (values[name] = e.target.value)"
  >
    <slot></slot>
  </component>
</template>