<script setup>
import { ref, provide, reactive } from "vue";

const props = defineProps({
  initialValues: {
    type: Object,
    required: true
  },
  onSubmit: {
    type: Function,
    required: true
  },
  validate: {
    type: Function,
    required: true
  }
})

const values = reactive(props.initialValues);
provide("values", values);
const errors = ref([]); 
const isSubmitting = ref(false); 

const handleSubmit = () => {
  props.validate(values);
  props.onSubmit(values);
}


</script>

<template>
  <slot 
    :values="values"
    :errors="errors"
    :isSubmitting="isSubmitting"
    :handleSubmit="handleSubmit"
  ></slot>
</template>