<script setup>
import Field from './components/Field.vue'
import Formik from './components/Formik.vue'

const initialValues = { color: '', firstname: ''}

const onSubmit = (values) => {
  alert(JSON.stringify(values));
}

const validate = (values) => {
  const errors = [];
  errors.error = {};
  if (!values.color) {
    errors.error["color"] = "You must choose a color";
  }
  if (!values.firstname) {
    errors.error["firstname"] = "You must enter your name";
  } 
  else if (values.firstname.length < 3) {
    errors.error["firstname"] = "Your name must be at least 3 characters long";
  }

  console.log(errors);
  return errors;
}

</script>

<template>

<main>
  <Formik 
    :onSubmit="onSubmit"
    :initialValues="initialValues"
    :validate="validate"
    v-slot="{ values, errors, isSubmitting, handleSubmit }"
  >
    <p v-if="errors">
      <b>Please correct the following error(s):</b>
      <ul id="errors">
        <li v-for="err in errors">
          {{ err.error.color }}
        </li>
      </ul>
    </p>
    <form @submit.prevent="handleSubmit">
      <Field :name="color" as="select" v-model="values.color">
        <option value="black">Black</option>
        <option value="blue">Blue</option>
        <option value="pink">Pink</option>
        <option value="purple">Purple</option>
        <option value="red">Red</option>
      </Field>
      <Field as="input" type="text" v-model="values.firstname" :name="firstname" placeholder="Enter your firstname"/>
      <button type="submit" :disabled="isSubmitting">Submit</button>

    </form>
    <p> Color : {{ values.couleur }}</p>
    <p> Firstname : {{ values.firstname }}</p>
  </Formik> 
  </main>
</template>

<style scoped>
header {
  line-height: 1.5;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }
}
</style>
